.App {
  text-align: center;
}

.button-group {
  margin-top: 15vh;
}

button {
  margin: 20px;
}

// connect wallet container
.connect-wallet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}